@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  cursor: pointer;
  border-radius: 4px;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: var(--secondary-color) radial-gradient(circle, transparent 1%, var(--secondary-color) 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}