@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

:root {
  --primary-color: #5dde7f;
  --secondary-color: #444466;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background: #333;
  /* background: rgb(68, 68, 102);
  background: linear-gradient(
    128deg,
    rgba(68, 68, 102, 1) 0%,
    rgba(93, 222, 127, 1) 53%
  ); */
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  width: 100%;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: inherit;
}

.joinInput:focus {
  box-shadow: inset -1px -1px 4px 2px rgba(0, 0, 0, 0.5);
  transition: all 150ms ease-in-out;
}

.joinInput::placeholder {
  color: #ddd;
  text-transform: uppercase;
}

.heading {
  color: var(--primary-color);
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-weight: 18px;
  letter-spacing: 0.6px;
  cursor: pointer;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  display: inline-block;
  border: none;
  width: 100%;
  font-family: inherit;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: var(--secondary-color)
    radial-gradient(circle, transparent 1%, var(--secondary-color) 1%)
    center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.howToContainer {
  color: white;
}

.howToContainer h3 {
  margin-top: 40px;
}

.appear-enter {
  opacity: 0;
}
.appear-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}
